---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
{% for post in paginator.posts %}
<div class="well article">


    <div class="article-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="article-info">
    <i class="icon-calendar"></i>
        <span class="post-date">
        {% assign date_format = site.date_format.title %}
        {{ post.date | date: date_format }}
        </span>

        {% unless page.tags == empty %}
        <i class=" icon-tag"></i>123

        {% assign tags_list = page.tags %}
        {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
        <li class="icon-style">
            <a href="{{ site.baseurl }}/tags.html">
                {{ tag }} <span>({{ site.tags[tag].size }})</span>
                {% unless forloop.last %},{% endunless %}
            </a>
        </li>
        {% endfor %}
        {% else %}
        {% for tag in tags_list %}
        <li class="icon-style">
            <a href="{{ site.baseurl }}/tags.html">
                {{ tag[0] }} <span>({{ tag[1].size }})</span>
                {% unless forloop.last %},{% endunless %}
            </a>
        </li>

        {% endfor %}
        {% endif %}
        {% assign tags_list = nil %}


        {% endunless %}

    </div>
    <div class="post-description">
        {{ post.description }}
    </div>
    
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">{{ trans.page }}: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
